@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
    <h1 class="display-4">401 - Unauthorized</h1>
    <p>Access is denied due to invalid credentials. Please <a asp-controller="User" asp-action="Login">Login</a> to access this page.</p>
</div>
